[submodule ".\\ansible\\roles\\ansible-role-postfix"]
	path = .\\ansible\\roles\\ansible-role-postfix
	url = https://github.com/crossan007/ansible-role-postfix.git

[submodule ".\\ansible\\roles\\ansible-role-dovecot"]
	path = .\\ansible\\roles\\ansible-role-dovecot
	url = https://github.com/crossan007/ansible-role-dovecot.git
	
[submodule ".\\ansible\\roles\\ansible-role-spamassassin"]
	path = .\\ansible\\roles\\ansible-role-spamassassin
	url = https://github.com/crossan007/ansible-role-spamassassin.git

[submodule ".\\ansible\\roles\\ansible-role-roundcube"]
	path = .\\ansible\\roles\\ansible-role-roundcube
	url = https://github.com/crossan007/ansible-role-spamassassin.git